@model BugTracker.Models.ChangePasswordViewModel

@{
    //Layout = "~/Views/Shared/_LayoutTopBar.cshtml";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@{
    ViewBag.Title = "Change Password";
}

<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">

        <br />
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                <a href="#" class="triggerp" id="smalltrig1">
                    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 ">
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div><!-- div class="row" -->
        <br />

        <!-- <a href="#" class="triggerp" id="changepwtrig1"> -->
        <!-- <div class="poptrig" id="changepwpop1"> -->
        <!-- <div class="poptrig" id="smallpop1"> -->

        <!-- HIDDEN / POP-UP DIV -->
        <div class="poptrig" id="xsmallpop1">
            <h3>@ViewBag.Title</h3>
            <br />
            Change your Password here.<br />
            "Demo" accounts cannot Change their Passwords.<br />
            <br />
        </div>

        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->

        @*<p class="text-success">@ViewBag.StatusMessage</p>*@
        @*<p class="text-success">@ViewBag.Message</p>*@

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @*<h4>Change Password Form</h4>
                <hr />*@
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-primary" style="color:darkred" />
                </div>
            </div>
        }

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div><!-- div class="container-fluid" -->
</div><!-- div id="page-wrapper" -->
<br /><br />

@section scripts{
@Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
      $(function() {
        var moveRight = 20;
        var moveDown = 1;

        $('a#smalltrig1').hover(function (e) {
            $('div#xsmallpop1').show()
            .css('top', e.pageY + moveDown)
            .css('left', e.pageX + moveRight)
            .appendTo('body');
        }, function() {
            setTimeout(function () { $('div#xsmallpop1').hide(); }, 500);
        });

      });
      //setTimeout(function () { $('div#dashboardpop1').hide(); }, 5000); <== Sets how fast the pop-up disappears after mouse leaving.
    </script>
}
