@model BugTracker.Models.UpdateProfileViewModel
@*@model BugTracker.Models.SetFirstNameViewModel*@

@{
    //Layout = "~/Views/Shared/_LayoutTopBar.cshtml";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@{
    ViewBag.Title = "My Profile";
}

<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">

        <br />
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 " >
                <a href="#" class="triggerp" id="smalltrig1">
                    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 " >
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div><!-- div class="row" -->
        <br />

        <!-- HIDDEN / POP-UP DIV -->
        <div class="poptrig" id="smallpop1">
            <h3>@ViewBag.Title</h3>
            <br />
            Update your Profile here.<br />
            "Demo" accounts cannot update their Profiles.<br />
            <br />
            Only an Admin can update your User Roles.<br />
            Only an Admin or Project Manager in charge of the project can update your Project Assignments.<br />
            <br />
        </div>

        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->

        @using (Html.BeginForm("UpdateProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.NewFirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.NewFirstName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewLastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.NewLastName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewDisplayName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.NewDisplayName, new { @class = "form-control" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="color:darkred" >Update</button>
        }

        <!-- ============================================================== -->
        <!-- Display ASSIGNED Projects & ASSIGNED Roles -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <br /><br />
        <table class="table" id="myTable" >
            <thead>
                <tr>
                    <th>
                        Projects Assigned
                    </th>
                    <th>
                        Roles Assigned
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @foreach (var project in Model.UserProjects)
                        {
                            <p>@project.Name</p><br />
                        }
                    </td>
                    <td>
                        @foreach (var role in Model.UserRoles)
                        {
                            <p>@role</p><br />
                        }
                    </td>

                </tr>
            </tbody>
        </table>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div><!-- div class="container-fluid" -->
</div><!-- div id="page-wrapper" -->
<br /><br />

@section scripts{
    <script type="text/javascript">
      $(function() {
        var moveRight = 20;
        var moveDown = 1;

        $('a#smalltrig1').hover(function(e) {
            $('div#smallpop1').show()
            .css('top', e.pageY + moveDown)
            .css('left', e.pageX + moveRight)
            .appendTo('body');
        }, function() {
            setTimeout(function () { $('div#smallpop1').hide(); }, 500);
        });

      });
      //setTimeout(function () { $('div#dashboardpop1').hide(); }, 5000); <== Sets how fast the pop-up disappears after mouse leaving.
    </script>
}

