@model BugTracker.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutTopBar.cshtml";
    //Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@{
    ViewBag.Title = "Reset password";
}

<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<div id="wrapper"><!-- This uses id="wrapper" NOT id="page-wrapper" -->
    <div class="container-fluid"><!-- div class="container-fluid" -->

        <br /><br /><br /><br /><br />

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                <a href="#" class="triggerp" id="xsmalltrig1">
                    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 ">
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div><!-- div class="row" -->
        <br />

        <!-- <a href="#" class="triggerp" id="resetpwtrig1"> -->
        <!-- <div class="poptrig" id="resetpwpop1"> -->
        <!-- <div class="poptrig" id="xsmallpop1"> -->

        <!-- HIDDEN / POP-UP DIV -->
        <div class="poptrig" id="xsmallpop1">
            <h3>@ViewBag.Title</h3>
            <br />
            Reset your password here by entering and confirming a new password.<br />
            <br />
        </div>

        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" style="color:darkred" value="Reset my password" />
                </div>
            </div>
        }

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div><!-- div class="container-fluid" -->
</div><!-- div id="page-wrapper" -->
<br /><br />

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            var moveRight = 20;
            var moveDown = 1;

            $('a#xsmalltrig1').hover(function (e) {
                $('div#xsmallpop1').show()
                .css('top', e.pageY + moveDown)
                .css('left', e.pageX + moveRight)
                .appendTo('body');
            }, function () {
                setTimeout(function () { $('div#xsmallpop1').hide(); }, 500);
            });

        });
        //setTimeout(function () { $('div#dashboardpop1').hide(); }, 5000); <== Sets how fast the pop-up disappears after mouse leaving.
    </script>
}
